@model IEnumerable<CodeFirtsModel.Models.Registro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistroID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistroID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistroID })
        </td>
    </tr>
}

</table>
